// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$primary-color : #1E73BE;
$button-hover-bg-color: rgb(0, 80, 150);
$blue-background-text-color: #ffffff;
$anchor-text-color: #ffffff;
$button-text-color: #ffffff;
$anchor-hover-color: #9d9d9d;
$form-input-border-color: rgb(169, 169, 169);
$white-background: #ffffff;
$white-bg-text-color: #212529;
$footer-text-color: #ffffff;

$link-font-weight: 500; 
$transition-time: 0.3s;